@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

//Media Query Manager

//This is a "Desktop first appoach"

//0- 600px:   Phone
//600-900px:  Tablet portrait
//900-1200px:  Tablet portrait
//1200-1800px:  normal styles apply
//1800+ : Big Desktop

@mixin respond-phone {
    @media (max-width: 600px) {
        @content
    }
}