.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        //works similar to background cover, but uses the html element instead of an image. maintains aspect ratio of video 
        object-fit: cover;
    }
}